<div>
    <h2 id="page-heading">
        <span>Demande Mise Dispositions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande-mise-disposition" [routerLink]="['/demande-mise-disposition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Demande Mise Disposition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="demandeMiseDispositions?.length === 0">
        <span>No demandeMiseDispositions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="demandeMiseDispositions && demandeMiseDispositions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matricule"><span>Matricule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datedemande"><span>Datedemande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datedebutmisedisposition"><span>Datedebutmisedisposition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datefinmisedisposition"><span>Datefinmisedisposition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heurdebut"><span>Heurdebut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heurfin"><span>Heurfin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="motif"><span>Motif</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typevehicule"><span>Typevehicule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieudepart"><span>Lieudepart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuarrive"><span>Lieuarrive</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="division"><span>Division</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="services"><span>Services</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombrebenificiaire"><span>Nombrebenificiaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="beneficiaire"><span>Beneficiaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="piecejointes"><span>Piecejointes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statutdis"><span>Statutdis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let demandeMiseDisposition of demandeMiseDispositions ;trackBy: trackId">
                    <td><a [routerLink]="['/demande-mise-disposition', demandeMiseDisposition.id, 'view']">{{ demandeMiseDisposition.id }}</a></td>
                    <td>{{ demandeMiseDisposition.matricule }}</td>
                    <td>{{ demandeMiseDisposition.datedemande | date:'mediumDate' }}</td>
                    <td>{{ demandeMiseDisposition.datedebutmisedisposition | date:'mediumDate' }}</td>
                    <td>{{ demandeMiseDisposition.datefinmisedisposition | date:'mediumDate' }}</td>
                    <td>{{ demandeMiseDisposition.heurdebut | date:'mediumDate' }}</td>
                    <td>{{ demandeMiseDisposition.heurfin | date:'mediumDate' }}</td>
                    <td>{{ demandeMiseDisposition.motif }}</td>
                    <td>{{ demandeMiseDisposition.typevehicule }}</td>
                    <td>{{ demandeMiseDisposition.lieudepart }}</td>
                    <td>{{ demandeMiseDisposition.lieuarrive }}</td>
                    <td>{{ demandeMiseDisposition.division }}</td>
                    <td>{{ demandeMiseDisposition.services }}</td>
                    <td>{{ demandeMiseDisposition.nombrebenificiaire }}</td>
                    <td>{{ demandeMiseDisposition.beneficiaire }}</td>
                    <td>
                        <a *ngIf="demandeMiseDisposition.piecejointes" (click)="openFile(demandeMiseDisposition.piecejointesContentType, demandeMiseDisposition.piecejointes)">open</a>
                        <span *ngIf="demandeMiseDisposition.piecejointes">{{ demandeMiseDisposition.piecejointesContentType }}, {{ byteSize(demandeMiseDisposition.piecejointes) }}</span>
                    </td>
                    <td>{{ demandeMiseDisposition.statutdis }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/demande-mise-disposition', demandeMiseDisposition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/demande-mise-disposition', demandeMiseDisposition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(demandeMiseDisposition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="demandeMiseDispositions && demandeMiseDispositions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
